@import '../../../constants.scss';

.cardLink {
    text-decoration: none;
    color: $whitecolor;
    cursor: pointer;       
}

.cardWrapper {
    width: 350px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 12px rgba(189, 14, 29, 0.2);
}

.name {
    margin: 0 0 15px;
    padding: 0;
    font-size: 18px;
}
    
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.companyList {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.cardWrapper:hover .companyList {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .cardWrapper { 
     width: 300px;
 }
 }