@import '../../../../constants.scss';

.userPageWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0; 
    box-shadow: 13px -13px 15px 3px rgba(255, 255, 255, 0.27);
}

.image {
    width: 200px;
    height: 200px
}

.caption {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.buttonsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    color: $whitecolor;
    border: none;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

.photosWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 40px;
    justify-content: space-evenly;
    gap: 30px;
}